<script type="application/ld+json">
    {
        "@context" : "https://schema.org",
        "@type" : "BlogPosting",
        "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ .Site.BaseURL }}"
        },
        "articleSection" : "{{ if .Section }}{{ .Section }}{{ else }}Home{{end}}",
        "url" : "{{ .Permalink }}",
        "name" : "{{ .Title }}",
        "headline" : "{{ .Title }}",
        "description" : "{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}",
        "inLanguage" : "en-US",
        "wordCount" : "{{ .WordCount }}",
        "keywords" : [ {{ if isset .Params "keywords" }}{{ range .Params.keywords }}"{{ . }}",{{ end }}{{ end }}{{ range .Site.Params.keywords }}"{{ . }}",{{ end }}"blog" ],
        "thumbnailUrl" : "{{ .Site.BaseURL }}img/og-image.jpg",
        "image" : {
            "@type": "ImageObject",
            "url": "{{ .Site.BaseURL }}img/og-image.jpg"
        },
        "author" : {
            "@type": "Person",
            "name": "{{ .Site.Params.Author }}"
        },
        "publisher": {
            "@type": "Person",
            "name": "{{ .Site.Params.Author }}"
        },
        "copyrightHolder" : {
            "@type": "Person",
            "name": "{{ .Site.Params.Author }}"
        },
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "dateModified" : "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
        "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
    }
    </script>
